<% include ./partials/header %>

<h1>Submit a New Campground</h1>
<form action="/campgrounds" method="POST">
	<input type="text" name="name" placeholder="campground name">
	<input type="text" name="image" placeholder="campground image">
	<button>Submit</button>
</form>

<a href="/campgrounds">See all Campgrounds</a>

<% include ./partials/footer %>

