body {
	background-color: #000;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

#landing-header h1 {
	color: #fff;
}

.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}

/* each listed item needs a background image and the last four need an animation delay */

.slideshow li:nth-child(1) {
	background-image: url(https://farm5.staticflickr.com/4079/4930552641_10d06245a2.jpg);
}

.slideshow li:nth-child(2) {
	background-image: url(https://farm8.staticflickr.com/7247/7629677566_328c81ebef.jpg);
	animation-delay: 5s;
}

.slideshow li:nth-child(3) {
	background-image: url(https://farm8.staticflickr.com/7275/7829452972_0893ea5f5b.jpg);
	animation-delay: 10s;
}

.slideshow li:nth-child(4) {
	background-image: url(https://farm7.staticflickr.com/6045/6262128076_891e67f2f3.jpg);
	animation-delay: 15s;
}

.slideshow li:nth-child(5) {
	background-image: url(https://farm8.staticflickr.com/7354/16276732798_914d73028c.jpg);
	animation-delay: 20s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}

	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}